nav{
    height: 60px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3)
}

ul li{
    display: inline-block;
    line-height: 60px;

}

.logo{
    width: 124px;
    height: 27px;
    float: left;
    margin-top:15px;
    margin-left:30px;
}

img{
    width: 100%;
}

ul{
    float: right;
    margin-right:30px;
}

.squ{
    width: 500px;
    height: 300px;
    text-align:center;
    margin: 0 auto;
    position:relative;
    top: 220px;
    overflow: hidden;
    background: rgba(255,255,255,0.2);
}
.banner{
    height:740px;
    background: rgba(0,0,0,0.2);
}
h1{
    font-size: 40px;
    margin-top: 20px;
    color: #f39800;
    font-weight: 700;
}
.squ p{
    font-size: 30px;
    color: #f39789;
    margin-top:20px;
}
.squ button{
    padding:10px 60px;
    border-radius: 5px;
    background: #e60012;
    border: none;
    color: #ffffff;
    margin-top:20px
}
.bg{
    background: url("../img/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}
